@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: #F6F6F6;
}

header{
    width: 100%;
    height: auto;
}

main{
    width: 100%;
    height: auto;
}

/*------------------------------------------*/

/* quick reset so all our padding is the right size */
* {
  box-sizing: border-box;
}

.calculator input,
.calc-button   {
  font-family: 'Space Mono';
}


/* limit the width and center */
.calculator   {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(17, 17, 17, 0.089);
  /* border-radius: 5px; */
  position: fixed;
  bottom: 0px;
  background-color: #c7d2e7;
}

#output{
  padding-left: 25%;
  padding-right: 25%;
}

.calculator input   {
  /* reset basic form styles */
  background: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid rgba(17, 17, 17, 0.281);
  color: #333;
  text-align: right;
  font-size: 30px;
  border-radius: 0;
}

.calc-button  {
  background: #ffffff; /* light background with opacity 50% */
  border: 2px solid #91a5ff; /* black border */
  padding: 5px;
  color: #000; /* white text */
  border-radius: 5px; /* rounded corners */
  font-size: 22px; /* larger fonts */
  cursor: pointer; /* make it look clickable */
  border-style: none none outset none;
}

.calculator-buttons {
  /* small spacing within our container */
  /* padding: 20px; */
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 20px;
  padding-bottom: 20px;

  /* the grid stuff! */
  display: grid;

  /* create 4 columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;

  /* add the grid gap */
  grid-gap: 15px;
}

/* span across 3 columns */
.is-zero,
.is-clear   {
  grid-column: span 3;
}

/* go blue */
.is-clear   {
  background: #96add2;
}

.is-equals, .operator{
  background: #96add2;
}

/*--------------------------------------------------------------*/

.logo {

  text-align: center;
  display: block;
  border-bottom: black;
  border-style: none none solid none;
  border-width: 1px;
  top:0;
  left:0;
  position: fixed;
  width: 100%;

}

#logo-img{

  padding-top: 10px;
  width: 10%;

}
